.container {
	background-color: white;
}

.vertical_container {
  width: 100%;
  flex-direction: column;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}


.vertical_inner_container {
  width: 100%;
  flex-direction: column;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 100px 0;
}

.format_err_space {
	display: none;
}

.format_err_div {
	position: relative;
	text-align: center;
	box-sizing: border-box;
}

.logo_container {
	display: box;
	position: fixed;
	width: 100%;

}

.logo {
	-webkit-flex:none;
	flex: none;
	position: relative;
}

#logo_pic {
	width: 300px;
	height: 300px;
}

.ad_container {
	-webkit-flex:none;
	flex: none;
	width: 100px;
}
.ad {
	-webkit-flex:1;
	flex: 1;
	position: relative;
	top: -50px;
}

#ad_pic {
	width: 400px;
	height: 70px;
}

.button_container {
	width: 100%;
  	flex-direction: column;
  	display: -webkit-flex;
  	display:         flex;
 	-webkit-align-items: center;
        align-items: center;
 	-webkit-justify-content: center;
        justify-content: center;
    margin: 20px 0px;
}


.bottom_button {
	width: 100%;
  	flex-direction: row;
  	display: -webkit-flex;
  	display:         flex;
 	-webkit-align-items: center;
        align-items: center;
 	-webkit-justify-content: center;
        justify-content: center;
    margin: 20px 0px;
}


.button_div {
	width: 100%;
	margin:20px;
}

.disable {
	color: #ccc;
	outline: none;
}


.submit {
	color: black;
	outline: none;

}


.progress{
		margin-top:2px;
	    width: 100%;
	    height: 14px;
	    margin-bottom: 10px;
	    overflow: hidden;
	    background-color: #f5f5f5;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar{ 
		background-color: #d00811;
		background-size: 40px 40px;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
		box-sizing: border-box;
		color: rgb(255, 255, 255);
		display: block;
		float: left; 
		font-size: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		transition-delay: 0s;
		transition-duration: 0.6s;
		transition-property: width;
		transition-timing-function: ease;
		position: relative;
		width: 266.188px;
}





.circle_span {
	position: relative;
	top: 30%;
}
.circle{
  width:150px;
  height:150px;
  margin:50px auto;
  border-radius:50%;
  border:5px solid #dc0f22;
  text-align: center;
  position: relative;

}

.step_div {
	display: block;
	position: relative;
	width: 30px;
	height: 150px;
	text-align: center;
}

.circle .square{
	margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
	display: block;
    width:10px;
    height:10px;
    border-radius:50%;
    background:#dc0f22;
    position:relative;
    transform-origin:50% 75px;
    animation:10s linear rotate infinite;
}


.test_circle {
	display: block;
    width:20px;
    height:20px;
    border-radius:50%;
    background:#dc0f22;
    position:relative;
    transform-origin:70% 75px;
    animation:10s linear rotate infinite;	
}

a {
  color: #000;
  text-decoration:none
}

@keyframes rotate{
  to { 
      transform: rotate(1turn); 
      -webkit-transform: rotate(1turn); 
	  -moz-transform: rotate(1turn); 
	  -o-transform: rotate(1turn); 
    }
}



label {
	font-size: 40px;
}

input[type=text], input[type=password] {
    border-color: #bbb;
    border-radius: 2px;
    border: #ccc 1px solid;
    padding: 15px 15px;
    -webkit-transition: box-shadow .1s;
    margin-bottom: 20px;
    font-size: 90px;
    color: #d00811;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}


input[type=text]:hover,  input[type=text]:focus, input[type=password]:hover,  input[type=password]:focus {
    border: 3px solid #d00811;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
    -webkit-transition: box-shadow .1s;
}

input::-webkit-input-placeholder {
    color: #999;
    font-size: 40px;
    -webkit-transition: color .1s;
}


input:focus::-webkit-input-placeholder,  input:hover::-webkit-input-placeholder {
    color: #c2c2c2;
    font-size: 40px;
    -webkit-transition: color .1s;
}
